[2020-09-30 08:24] jmfayard opened #3 "Sample wanted for cashapp/sqldelight"
## About the library

- *Description*:  SQLDelight - Generates typesafe Kotlin APIs from SQL
- *GitHub*: https://github.com/cashapp/sqldelight
- *Official website*: https://cashapp.github.io/sqldelight/

## What the sample could do

Two tables `User` and  `Order`. Show how to create the database, insert entries, do a relational query and delete entries

## Wants to contribute the sample?

- Say so

[2020-09-30 08:37] jmfayard opened #4 "Sample wanted for Kotlin/kotlinx.html"
## About the library

- *Description*:   Kotlin DSL for HTML
- *GitHub*: https://github.com/Kotlin/kotlinx.html
- *Official website*: https://github.com/Kotlin/kotlinx.html

## What the sample could do

Generate the HTML for an email

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playground/blo

[2020-09-30 08:39] jmfayard opened #5 "Sample wanted for Kotlin/kotlinx.collections.immutable"
## About the library

- *Description*:    Immutable persistent collections for Kotlin
- *GitHub*: https://github.com/Kotlin/kotlinx.collections.immutable
- *Official website*: https://github.com/Kotlin/kotlinx.collections.immutable

## What the sample could do

Left to the imagination of the reader :)

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIB

[2020-09-30 08:42] jmfayard opened #6 "Sample wanted for Arrow Optics"
## About the library

- *Description*:    Λrrow - Functional companion to Kotlin's Standard Library
- *GitHub*: https://github.com/arrow-kt/arrow
- *Official website*: https://arrow-kt.io/docs/optics/dsl/

## What the sample could do

Have a deeply nested data class and show how arrow optics make it easier to change the object

## Wants to contribute the sample?

- Say so in a comment here
- Follo

[2020-09-30 08:44] jmfayard opened #7 "Sample wanted for Arrow Core"
## About the library

- *Description*:    Λrrow - Functional companion to Kotlin's Standard Library
- *GitHub*: https://github.com/arrow-kt/arrow
- *Official website*: https://arrow-kt.io/docs/core/

## What the sample could do

Show some data type like `Either` and `Validated` and a functional programming pattern enabled by Arrow

## Wants to contribute the sample?

- Say so in a comment here
- F

[2020-09-30 08:46] jmfayard opened #8 "Sample wanted for square/wire"
## About the library

- *Description*:    gRPC and protocol buffers for Android, Kotlin, and Java.
- *GitHub*: https://github.com/square/wire
- *Official website*: https://square.github.io/wire/

## What the sample could do

Re-use the `Dinosaur` sample from the documentation

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.c

[2020-09-30 08:50] jmfayard opened #9 "Sample wanted for google/dagger"
## About the library

- *Description*:    A fast dependency injector for Android and Java.
- *GitHub*: https://github.com/google/dagger
- *Official website*: https://dagger.dev/

## What the sample could do

Definitely **not** the meaningless example of the fancy coffee machine with a thermosiphon.

See the [Kodein-DI sample](https://github.com/LouisCAD/kotlin-libraries-playground/blob/main/kotlin

[2020-09-30 08:52] jmfayard opened #10 "InsertKoinIO/koin"
## About the library

- *Description*:    Koin - a pragmatic lightweight dependency injection framework for Kotlin
- *GitHub*: https://github.com/InsertKoinIO/koin
- *Official website*: https://insert-koin.io/

## What the sample could do

Definitely **not** the meaningless example of the fancy coffee machine with a thermosiphon.

See the [Kodein-DI sample](https://github.com/LouisCAD/kotlin-libra

[2020-09-30 08:52] jmfayard opened #11 "Sample wanted for Kodein-Framework/Kodein-DI"
## About the library

- *Description*:    Painless Kotlin Dependency Injection
- *GitHub*: https://github.com/Kodein-Framework/Kodein-DI
- *Official website*: https://kodein.org/di/

## What the sample could do

Definitely **not** the meaningless example of the fancy coffee machine with a thermosiphon.

Try to find something simple you could use in the real world.

## Wants to contribute the sampl

[2020-09-30 19:13] dector commented on #4
Would love to contribute with this :)

[2020-09-30 19:18] LouisCAD commented on #4
@dector Do it! 😃

[2020-09-30 22:35] douglascamata commented on #11
Hi @jmfayard, I would like to work on this 💪

[2020-09-30 22:57] LouisCAD commented on #11
Alright @douglascamata, let's go! 👌

[2020-09-30 23:38] lpicanco commented on #5
@jmfayard Can I get this one?

[2020-10-01 06:05] jmfayard commented on #5
Yes, go for it!

[2020-10-01 08:49] Sharkaboi commented on #3
Hey @jmfayard
I'd like to have a take at this. Been wanting to try out SQLDelight aswell !
Also, How should I structure the packages to keep the `.sq` file for the database grouped neatly?

[2020-10-01 09:00] jmfayard commented on #3
Go for it Sharkaboi!

For the folder structure, do whatever you think makes most sense

[2020-10-01 14:36] #11 closed

[2020-10-01 14:52] #5 closed

[2020-10-01 14:57] jmfayard opened #14 "Sample wanted for square/kotlinpoet"
## About the library

- *Description*:   `KotlinPoet` is a Kotlin and Java API for generating `.kt` source files.
- *GitHub*: https://github.com/square/kotlinpoet
- *API and documentation*: https://square.github.io/kotlinpoet/1.x/kotlinpoet/
- [Change Log](https://square.github.io/kotlinpoet/changelog/)

## What the sample could do

Up to you

## Wants to contribute the sample?

- Say so in a comm

[2020-10-01 14:59] jmfayard opened #15 "Sample wanted for JakeWharton/picnic"
## About the library

- *Description*:   A Kotlin DSL and Java/Kotlin builder API for constructing HTML-like tables which can be rendered to text.
- *GitHub*: [JakeWharton/picnic](https://github.com/JakeWharton/picnic)

## What the sample could do

Print a HTML-like table to the console :)

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](ht

[2020-10-01 15:04] jmfayard opened #16 "Sample wanted for apollographql/apollo-android"
## About the library

- *Description*:    🤖 A strongly-typed, caching GraphQL client for the JVM, Android and Kotlin multiplatform
- *GitHub*: https://github.com/apollographql/apollo-android
- *Official website*:

## What the sample could do

Use the sample from the Apollo tutorial

[code]

https://www.apollographql.com/docs/tutorial/introduction/
https://apollo-fullstack-tutorial.herokuapp.com/

[2020-10-01 15:07] jmfayard opened #17 "Sample wanted for JetBrains/Exposed"
## About the library

- *Description*:    Kotlin SQL Framework
- *GitHub*: https://github.com/JetBrains/Exposed
- *Official website*: https://github.com/JetBrains/Exposed
- *ChangeLog*: https://github.com/JetBrains/Exposed/blob/master/docs/ChangeLog.md

## What the sample could do

See the SqlDelight sample

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [C

[2020-10-01 15:09] jmfayard opened #18 "Sample wanted for ajalt/mordant"
## About the library

- *Description*:    Full-featured text styling for Kotlin command-line applications
- *GitHub*: https://github.com/ajalt/mordant

## What the sample could do

Print something nice to the console with colors and styles

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playgrou

[2020-10-01 15:11] jmfayard opened #19 "Sample wanted for ajalt/clikt"
## About the library

- *Description*:    Multiplatform command line interface parsing for Kotlin
- *GitHub*: https://github.com/ajalt/clikt
- *Official website*: https://ajalt.github.io/clikt/

## What the sample could do

Parse `myKotlinCli --language FR --greeting Bonjour`

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.c

[2020-10-01 15:13] jmfayard opened #20 "Sample wanted for thomasnield/kotlin-statistics"
## About the library

- *Description*:    Idiomatic statistical operators for Kotlin
- *GitHub*: https://github.com/thomasnield/kotlin-statistics

## What the sample could do

Cool statistics in Kotlin

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playground/blob/main/CONTRIBUTING.md)
- Submit

[2020-10-01 15:18] jmfayard commented on #17
Go for it.
note that there are no SqlDelight sample yet, you were too fast :)

[2020-10-01 17:18] douglascamata commented on #10
I can follow up with this one too. :D

[2020-10-01 17:19] douglascamata commented on #9
Aaaand I can follow up with this one 🗡️

[2020-10-01 17:33] jmfayard commented on #10
go and go!

[2020-10-01 18:12] katerine-sg commented on #15
I want  to try to  do this one.

[2020-10-01 18:13] jmfayard commented on #15
Go for it, it's assigned to you!

[2020-10-01 18:38] mrclsu commented on #19
I'd love to give this a shot. 🚀

[2020-10-01 19:04] jmfayard commented on #19
Thanks, go for it!

[2020-10-01 21:14] DarthBenro008 commented on #18
I would like to work on this !

[2020-10-02 06:05] jmfayard commented on #18
Go for it!

[2020-10-02 08:13] jmfayard opened #24 "Kickstart a project kotlin-server"
Currently all samples are inside `kotlin-jvm` and are self-contained in their own package, with each having its `main()` function.

But what about servers?

Ideally I would like to have a new directory/project `kotlin-server` that will contain an implementation of the same simple server spec in ktor but also later spring boot, http4k, javalin or whatever people want to contribute.

For a real proj

[2020-10-02 09:27] #4 closed

[2020-10-02 09:38] #19 closed

[2020-10-02 09:41] dector commented on #14
Would love to get this

[2020-10-02 09:42] LouisCAD commented on #14
Alright, go for it!

[2020-10-02 09:46] #17 closed

[2020-10-02 14:02] LouisCAD opened #27 "Add a reliable style checker matching Kotlin official style guide that runs on commit or on GitHub Actions"

[2020-10-02 14:05] jmfayard commented on #27
put `kotlin.code.style=official` in `gradle.properties` https://dev.to/jmfayard/configuring-gradle-with-gradle-properties-211k

and add a section in the CONTRIBUTING guide?

[2020-10-02 15:59] #14 closed

[2020-10-02 16:17] #3 closed

[2020-10-02 16:19] jmfayard commented on #27
I've added `kotlin.code.style=official` in gradle.properties

[2020-10-02 16:22] LouisCAD commented on #27
Yes, a section about reformatting before submitting in the CONTRIBUTING.md would be great.

[2020-10-02 16:31] jmfayard commented on #27
Done in https://github.com/LouisCAD/kotlin-libraries-playground/commit/9499cb0c2729c543c0a4a7e80999b972cb30d266

[2020-10-02 16:31] #27 closed

[2020-10-02 16:44] LouisCAD opened #29 "Get DI library samples under the playground.di package"

[2020-10-03 06:30] ch8n commented on #7
hi @jmfayard I would like to post some samples on this can you let me know what are your expectations ?

[2020-10-03 06:44] jmfayard commented on #7
Nice @ch8n !
In this ticket, the expectation is to focus on Arrow Types
https://arrow-kt.io/docs/datatypes/intro/

The challenge for this one is that Arrow does a lot of things,
1. some which are pretty advanced,
2. others who can be useful on a day to day basis.

In the sample we want to keep it simple and useful, so you have to focus on 2)

People who want to go deeper with Arrow can always do t

[2020-10-03 06:50] jmfayard commented on #10
@douglascamata
When you contribute it, please move all DI library samples under the package `playground.di`
https://github.com/LouisCAD/kotlin-libraries-playground/issues/29

[2020-10-03 07:59] ch8n commented on #7
hi, @jmfayard thanks for the quick response, I'm new with Arrow and I will start off with my research asap, it would be helpful if you could name certain operators that you use in your workflows.

[2020-10-03 09:31] #18 closed

[2020-10-03 14:14] devsnice commented on #6
Hey, @jmfayard, can you assign this on me, please?

[2020-10-03 16:26] jmfayard commented on #7
This is one of the libraires I would like to discover but don't know well myself.
Are you in the kotlinlang slack channel?
You could ask the arrow guys there what they recommend to get started with.
Or just take another issue

[2020-10-03 16:27] jmfayard commented on #6
Done, go on 👍

[2020-10-03 17:37] LouisCAD commented on #7
@ch8n If you decide to not go with this one, please let us know so we un-assign you and let others take it.

[2020-10-03 17:41] LouisCAD commented on #9
@jmfayard I was thinking it would be great to a have an independent module for kapt dependent libraries so the build time is not too badly impacted when people want to try other stuff.

[2020-10-03 17:50] jmfayard commented on #9
@LouisCAD I've tought about that too, but the build time is not an issue for now
`kapt` takes 3 seconds, and the whole executiong 15s
https://scans.gradle.com/s/da5pqt3rwl3ki/performance/build

[2020-10-03 17:54] LouisCAD commented on #9
@jmfayard 3 seconds out of 15 is one fifth: significant… but actually, you didn't count it all. Most of the build time is caused by kapt.

So let's address this problem before merging.

![Screenshot_20201003-195209.png](https://user-images.githubusercontent.com/6975237/94998465-39fafe00-05b2-11eb-928d-1c7a219578e7.png)

[2020-10-03 17:56] jmfayard opened #32 "Sample wanted for Kotlin/kotlinx-datetime"
## About the library

- *Description*:    KotlinX multiplatform date/time library
- *GitHub*: https://github.com/Kotlin/kotlinx-datetime

## What the sample could do

Show how to use `Instant`, `Clock`, `LocalDateTime`, `LocalDate`, Unix timestamp and how to convert from one to another

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https:

[2020-10-03 17:57] jmfayard opened #33 "Sample wanted for serpro69/kotlin-faker"
## About the library

- *Description*:  Port of a popular ruby faker gem written in Kotlin.
- *GitHub*: https://github.com/serpro69/kotlin-faker

## What the sample could do

Generate random User, Address, Friends, Phoe number, Rick and Morty

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playg

[2020-10-03 18:01] jmfayard opened #34 "Sample wanted for kunalsheth/units-of-measure"
## About the library

- *Description*: Type-safe dimensional analysis and unit conversion in Kotlin.
- *GitHub*: https://github.com/kunalsheth/units-of-measure
- *Official website*: http://units.kunalsheth.info/

## What the sample could do

Show how to works with different units of lenght, weight, speed,, ...

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in

[2020-10-03 18:04] jmfayard opened #35 "Sample wanted for MarkusAmshove/Kluent"
## About the library

- *Description*:    Fluent Assertion-Library for Kotlin
- *GitHub*: https://github.com/MarkusAmshove/Kluent
- *Official website*: https://markusamshove.github.io/Kluent/

## What the sample could do

Add kluent examples in `src/test`, maybe follow what was done for `strikt`
https://github.com/LouisCAD/kotlin-libraries-playground/tree/main/kotlin-jvm/src/test/kotlin/framework

[2020-10-03 18:05] jmfayard opened #36 "Sample wanted for robstoll/atrium"
## About the library

- *Description*:    A multiplatform assertion library for Kotlin
- *GitHub*: https://github.com/robstoll/atrium
- *Official website*: https://docs.atriumlib.org/

## What the sample could do

Add kluent examples in src/test, maybe follow what was done for strikt
https://github.com/LouisCAD/kotlin-libraries-playground/tree/main/kotlin-jvm/src/test/kotlin/framework
See also klu

[2020-10-03 20:00] dector commented on #32
Can do it

[2020-10-03 22:04] jmfayard commented on #32
Thanks!

[2020-10-04 02:18] larissayasin commented on #33
I can do it!

[2020-10-04 04:07] ch8n commented on #7
currently, I'm looking into it I will update you if I'm not able to complete it, but if you have someone who is interested in it PR involve him in the conversation we can collab and write some examples.

[2020-10-04 05:12] jmfayard commented on #33
Thanks larissa!

[2020-10-04 14:11] ch8n commented on #7
hi @jmfayard hacktoberfest guidelines have been update please mark topic and add lables, guide is below
https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 16:44] jmfayard commented on #7
@ch8n Thanks. The repo is already tagged as `#hacktoberfest`

[2020-10-04 18:49] sijanr commented on #8
I'm currently trying out the library, but I'm unable to import wire's gradle plugin to the project. I tried to add the following in build.gradle.kts file

plugins {
  id 'application'
  id 'org.jetbrains.kotlin.jvm'
  id 'com.squareup.wire'
}

wire {
  kotlin {
  }
}

I get the error: Plugin [id: 'com.squareup.wire'] was not found in any of the following sources:

[2020-10-04 19:33] larissayasin commented on #33
@jmfayard I'm following the instructions and  but I'm having some problems..
I added the` implementation("com.github.moove-it:fakeit:_")` and also added inside `repositories {  maven(url = "https://jitpack.io") ...` but I when I try to import `import com.mooveit.library.Fakeit` I get an _Unresolved reference error._

I tried to use the Fakeit lib in another project but I'm I can't initialize it. T

[2020-10-05 05:43] jmfayard commented on #8
@sijanr
One get this error when no plugin version is set
add manually to `versions.properties` this:
`plugin.com.squareup.wire=3.4.0`

[2020-10-05 05:43] jmfayard commented on #8
Should I assign the issue to you?

[2020-10-05 06:42] sijanr commented on #8
Yes, that'd be great. Thanks!

[2020-10-05 11:22] dector commented on #20
Can add some samples. :)

Also I want to add some visual illustrations. Can I create companion doc somewhere in the repo? What do you think?

[2020-10-05 11:53] jmfayard commented on #20
@dector Sure, add a `docs` folder and put your Markdown or Asciidoc there
To upload images, the way I would do it is that I would upload the pictures to this issue,
and them simply use the image URL in the markdown file

[2020-10-05 21:36] fejd commented on #35
I'd like to work on this issue.

[2020-10-06 06:05] jmfayard commented on #35
Go for it!  @fejd

[2020-10-06 07:01] jmfayard commented on #20
I've thought about it again. While of course you can add doc in this repo,
it could be even better if you write down a blog article externally.
If you don't have a personal blog yet, I can highly recommend DEV,
this is where I put my blog posts: https://dev.to/jmfayard/

[2020-10-06 07:02] #10 closed

[2020-10-06 16:37] jmfayard commented on #29
done

[2020-10-06 16:37] #29 closed

[2020-10-06 16:55] jmfayard opened #40 "Sample for Kodein-DB"
I already started https://github.com/LouisCAD/kotlin-libraries-playground/compare/kodein-db?expand=1

but it doesn't work because of this
https://github.com/Kodein-Framework/Kodein-DB/issues/14

[2020-10-06 18:22] douglascamata commented on #34
Hey @jmfayard, can I work on this after finishing the Dagger one?

[2020-10-06 22:32] LouisCAD commented on #34
@jmfayard Since this one is using a Kotlin compiler plugin and that API is not stabilized yet and performance measurement is not straightforward, I think we should isolate it in a module or a project.

Once we decide how to organize the project around this, we should edit the contributing guide for kapt and third-party Kotlin compiler plugin dependent libraries.

[2020-10-07 05:44] ch8n commented on #7
@jmfayard I'm trying to include core-arrow libs,
I have added dependencies as below but nothing is showing up, am I missing something ?
[code]

[2020-10-07 06:54] jmfayard commented on #7
@ch8n We won't use snapshots so you don't need `    maven(url = "https://oss.jfrog.org/artifactory/oss-snapshot-local/")`
Apart from that, I've tested it locally and it worked
Just make sure to do a Gradle Sync

By the way, there is a section *Katas and exercises* at https://arrow-kt.io/docs/quickstart/projects/
Might be a good source for inspiration

[2020-10-07 08:32] jmfayard opened #41 "Sample wanted for ReactiveX/RxJava"
## About the library

- *Description*:    RxJava – Reactive Extensions for the JVM – a library for composing asynchronous and event-based programs using observable sequences for the Java VM.
- *GitHub*: https://github.com/ReactiveX/RxJava
- *Official website*: http://reactivex.io/

## What the sample could do

RxJava is yuuuge but the sample should be kept small.

It could contain:
- a demonstrati

[2020-10-07 08:36] jmfayard opened #42 "Sample wanted for skrapeit/skrape.it"
## About the library

- *Description*:  A Kotlin-based HTML / XML deserialization library that places particular emphasis on ease of use and a high level of readability by providing an intuitive DSL.
- *GitHub*: https://github.com/skrapeit/skrape.it
- *Official website*: https://docs.skrape.it/docs/

## What the sample could do

Parse an HTML file and verify that we can find a given information in

[2020-10-07 08:39] jmfayard opened #43 "Sample wanted for cbeust/klaxon"
## About the library

- *Description*:  A JSON parser for Kotlin
- *GitHub*: https://github.com/cbeust/klaxon

## What the sample could do

See sample Moshi and KotlinxSerialization

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playground/blob/main/CONTRIBUTING.md)
- Submit your pull request!

[2020-10-07 08:44] jmfayard opened #44 "Sample wanted for sksamuel/hoplite"
## About the library

- *Description*: A boilerplate-free library for loading configuration files as data classes in Kotlin
- *GitHub*: https://github.com/sksamuel/hoplite

## What the sample could do

Show how the configuration can be read in a Json, Hocon or Java Properties format
Show how the library works with cascading config files
Show the beautiful errors from the library when a configurati

[2020-10-07 08:45] jmfayard opened #45 "Sample wanted for uchuhimo/konf"
## About the library

- *Description*:    A type-safe cascading configuration library for Kotlin/Java, supporting most configuration formats
- *GitHub*: https://github.com/uchuhimo/konf

## What the sample could do

Same as hoplite https://github.com/LouisCAD/kotlin-libraries-playground/issues/44

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING

[2020-10-07 09:22] ch8n commented on #7
thanks! I update Gradle and check that repository out

[2020-10-07 11:21] oppongjr commented on #16
@jmfayard can you assign this to me?

[2020-10-07 11:35] jmfayard commented on #16
Sure thing!

[2020-10-07 13:53] jmfayard commented on #33
done in  #39

[2020-10-07 13:53] #33 closed

[2020-10-07 13:53] jmfayard commented on #32
Done in #37

[2020-10-07 13:53] #32 closed

[2020-10-07 13:54] jmfayard commented on #16
Done

[2020-10-07 13:54] #16 closed

[2020-10-07 14:00] oppongjr commented on #16
😭

[2020-10-07 14:00] oppongjr commented on #43
@jmfayard please assign this issue to me

[2020-10-07 14:04] jmfayard commented on #43
@oppongjr done Isaac :)
Sorry for the other issue

[2020-10-07 14:06] oppongjr commented on #43
@jmfayard No problem! I just have to be faster with this one lol.

[2020-10-07 18:13] martinbonnin commented on #16
Oh my! Very sorry I missed that... I hope it matched what you had in mind @oppongjr, do not hesitate to modify if needed.

[2020-10-07 18:15] sijanr commented on #8
I get the same error even after setting the plugin version, .

I added plugin.com.squareup.wire=3.4.0 to the version.properties file

In build.gradle.kts, I added:
plugin {
id("com.squareup.wire")
}

wire {
    kotlin{
        out "${buildDir}/generate"
    }
}

[2020-10-07 19:19] mrclsu commented on #41
I'd like to work on this.

[2020-10-07 20:41] starsep commented on #45
I would like to work on this issue.
Should I create example configurations as files or create them in-memory?

[2020-10-07 20:46] oppongjr commented on #36
@jmfayard Please assign this to me

[2020-10-08 06:30] jmfayard commented on #45
Cool, thanks @starsep !
I would create configuration files and put them in `src/main/resources`

[2020-10-08 06:31] jmfayard commented on #41
Cool, it's assigned to you Marcel!

[2020-10-08 06:35] #43 closed

[2020-10-08 10:46] dector commented on #20
Okay, will try to avoid additional documentation. I guess you are right and the goal of this sample is not to explain statistics to reader so I can assume that one is familiar with basics a bit.

[2020-10-08 13:18] jmfayard opened #50 "Kickstart a project kotlin-android"
Currently all samples are inside kotlin-jvm and are self-contained in their own package, with each having its main() function.

But what about Android? There are lots of good libraries to demo there.

The challenge would be to keep things simple.

Ideally a sample for a given library would be contained in a single file like it's done in `kotlin-jvm`, and then called from a RecyclerView

I will als

[2020-10-08 13:24] jmfayard opened #51 "Sample wanted for afollestad/material-dialogs"
## About the library

- *Description*:    😍 A beautiful, fluid, and extensible dialogs API for Kotlin & Android.
- *GitHub*: https://github.com/afollestad/material-dialogs

## What the sample could do

Show nice material dialogs

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotlin-libraries-playground/issues/50)

[2020-10-08 13:27] jmfayard opened #52 "Sample wanted for coil-kt/coil"
## About the library

- *Description*:    Image loading for Android backed by Kotlin Coroutines.
- *GitHub*: https://github.com/coil-kt/coil
- *Official website*: https://coil-kt.github.io/coil/

## What the sample could do

Show how to load image with coil and apply some basic transformation to it

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #

[2020-10-08 13:29] jmfayard opened #53 "Sample wanted for RedApparat/Fotoapparat"
## About the library

- *Description*:    Making Camera for Android more friendly. 📸
- *GitHub*: https://github.com/RedApparat/Fotoapparat

## What the sample could do

Take a picture with Fotoapparat.
Maybe integrate it with a QR code library

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotlin-libraries-playgr

[2020-10-08 13:31] jmfayard opened #54 "Sample wanted for mikepenz/AboutLibraries"
## About the library

- *Description*:    AboutLibraries is a library to offer some information of libraries.
- *GitHub*: https://github.com/mikepenz/AboutLibraries

## What the sample could do

Display informations on libraries used in the kotlin-android sample

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotl

[2020-10-08 13:33] jmfayard opened #55 "Sample wanted for Tinder/StateMachine"
## About the library

- *Description*:    A Kotlin DSL for finite state machine
- *GitHub*: https://github.com/Tinder/StateMachine

## What the sample could do

A state machine for making a cup of coffee, or something like that

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-libraries-playground/blob/main

[2020-10-08 13:37] jmfayard opened #56 "Sample wanted for LouisCAD/Splitties"
## About the library

- *Description*:    A collection of hand-crafted extensions for your Kotlin projects.
- *GitHub*: https://github.com/LouisCAD/Splitties

## What the sample could do

Ask @LouisCAD

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotlin-libraries-playground/issues/50)

But it can already be ass

[2020-10-08 13:41] #53 closed

[2020-10-08 13:41] #54 closed

[2020-10-08 13:42] #51 closed

[2020-10-08 13:46] jmfayard opened #57 "Sample wanted for kotlin-stdlib/kotlin.collections"
## About the library

- *Description*:   Collection types, such as Iterable, Collection, List, Set, Map and related top-level and extension functions.
- *Official website*: https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.collections/

## What the sample could do

As a user coming from Java,
I use loops `for` `while`, ... everywhere
and I would like to see what's the loop-less alternative
with

[2020-10-08 13:48] jmfayard opened #58 "Sample wanted for dropbox/Store"
## About the library

- *Description*:    Kotlin Library for Async Data Loading and Caching
- *GitHub*: https://github.com/dropbox/Store

## What the sample could do

A store that combines networking, data in-memory and on disk

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotlin-libraries-playground/issues/50)

[2020-10-08 13:50] jmfayard opened #59 "Sample wanted for xxx/yyy"
## About the library

- *Description*:    MVI framework for Kotlin Multiplatform
- *GitHub*: https://github.com/arkivanov/MVIKotlin

## What the sample could do

Up to you as long as it's simple and meaningful

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://github.com/LouisCAD/kotlin-libraries-playground/issues/50)

But it can alread

[2020-10-08 13:52] jmfayard opened #60 "Sample wanted for cashapp/contour"
## About the library

- *Description*:    Layouts with lambdas 😎
- *GitHub*: https://github.com/cashapp/contour

## What the sample could do

XML had a good ride but times have changed and we should too.

Demo how you can write the equivalent of a ConstraintLayout but in pure Kotlin

## Wants to contribute the sample?

This issue is blocked by [ Kickstart a project kotlin-android #50 ](https://git

[2020-10-08 14:01] jmfayard opened #61 "Sample wanted for kotlin-stdlib/kotlin.io"
## About the library

- *Description*:   IO API for working with files and streams in the Kotlin Standard Library
- *Official website*: https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.io/

## What the sample could do

The stdlib has really useful little things to work with the filesystem, not sure everyone is aware of them.

Show how to use FileTreeWalk, `File.readText()`, `File.writeText()`,

[2020-10-08 16:01] #45 closed

[2020-10-08 16:49] jaguililla commented on #24
Would it be safe to use a single Gradle project for many different web servers? Couldn't that create dependency problems (different versions)?

[2020-10-08 16:51] LouisCAD commented on #24
@jaguililla Do you have any example where a dependency upgrade is not possible for a Kotlin/JVM server framework?

[2020-10-08 17:00] unused-variable commented on #52
I would love to write a sample for coil library.

[2020-10-08 17:20] jaguililla commented on #24
No, but it would be hard to tell without knowing the list of examples in advance... And being it open, it could eventually generate a problem with conflicting dependencies.

And also, there are products sensible to the classpath (Spring).

Wouldn't you consider creating a multimodule Gradle project? It wouldn't be much work and it would be safer.

[2020-10-09 01:14] OscarSequeiros commented on #55
Hi! I would like to take this. 😉

[2020-10-09 06:06] jmfayard commented on #55
Assigned to you :)

[2020-10-09 09:17] #15 closed

[2020-10-09 10:07] LouisCAD commented on #24
We are considering making a multi-modules project, yes.
We need to get it right to allow easy code sharing, while keeping it simple for contributors.
I think we'll make one shared module, plus one module per framework as an entry point.

[2020-10-09 10:38] LouisCAD commented on #41
@mrclsu Can you confirm you'll use RxJava3?

[2020-10-09 18:05] jaguililla commented on #24
If you share more details, I could be interested in doing it. What should a typical sample implement?

Or you could take the TechEmpower Benchmark implementations as valid examples :) https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Kotlin

[2020-10-11 09:04] mrclsu commented on #41
Yep, I'll be using RxJava3.

[2020-10-11 13:14] JohanneA commented on #61
I can do this one

[2020-10-11 13:25] jmfayard commented on #61
The issue is all yours, thanks Johanne!

[2020-10-11 16:12] LouisCAD commented on #16
@oppongjr Also, if you have ideas to improve it, show another use case or anything, feel free to let us know or show us a draft PR!

[2020-10-11 16:16] LouisCAD commented on #8
It's because the wire plugin is not on the Gradle Plugins portal. You need to add `gradlePluginPortal()` `mavenCentral()` in the repos in the `pluginManagement` in the `settings.gradle.kts` file.

[2020-10-11 17:10] #9 closed

[2020-10-11 17:53] dustinsand commented on #44
I would like to work on this issue.

[2020-10-12 14:56] kswadi commented on #57
@jmfayard Can I work on this issue ?

[2020-10-12 14:59] jmfayard commented on #57
@kswadi Yes!
To elaborate, what I had in mind for this ticket is something like this:

[code]

[2020-10-12 15:15] virtuoushub commented on #42
👋 I would like to work on this issue.

Any preference on what HTML file is parsed?

[2020-10-12 15:29] jmfayard commented on #42
Cool, thanks!

HTML parsed: maybe the example from Kotlinx.html?
But I'm open to whatever makes sense

[2020-10-12 15:36] kswadi commented on #57
@jmfayard Thanks for elaborating the problem statement.

[2020-10-13 03:14] lizarragadev commented on #52
I'm interested in contributing 👍

[2020-10-13 05:29] jmfayard commented on #52
@lizarragadev : it's already assigned!

[2020-10-13 11:59] oppongjr commented on #16
@LouisCAD Alright man.

[2020-10-15 13:21] #42 closed

[2020-10-17 18:55] ch8n commented on #7
hi @jmfayard I have been learning arrow core and did some of the examples from docs but I'm not getting feel that these examples im adding will have any value for someone learning can you do arrow

please can you do code review of what all I have added uptill now?
https://github.com/ch8n/kotlin-libraries-playground, the main branch has the Arrow-kt

[2020-10-20 13:16] jmfayard commented on #7
@ch8n I understand, Arrow is one of the advanced Kotlin libraries,
I was myself interested but curious when I tried to understand it.
Do you mind if someone else takes over the issue?

[2020-10-20 13:17] jmfayard commented on #6
@devsnice Hello! How is it going? Are you blocked somewhere?

[2020-10-20 13:17] jmfayard commented on #35
Hello @fejd ! How is it going? Are you blocked somewhere?

[2020-10-20 13:19] jmfayard commented on #20
Hello @dector How is it going? Are you blocked somewhere?

[2020-10-20 13:19] jmfayard commented on #55
Done in https://github.com/LouisCAD/kotlin-libraries-playground/pull/67

[2020-10-20 13:19] #55 closed

[2020-10-20 13:20] jmfayard commented on #61
Done!

[2020-10-20 13:20] #61 closed

[2020-10-20 13:21] jmfayard commented on #44
Done!

[2020-10-20 13:21] #44 closed

[2020-10-20 17:50] fejd commented on #35
@jmfayard Sorry, I had a patch almost done but got distracted! I'll upload it today or tomorrow evening!

[2020-10-20 23:44] vinigmoraes opened #75 "Sample wanted forkittinunf / fuel"
## About the library

- *Description*:   HTTP networking library for Kotlin/Android
- *GitHub*: https://github.com/kittinunf/fuel
- *Official website*: https://fuel.gitbook.io/documentation/

## What the sample could do

HTTP request like POST, GET, PUT and all others verbs

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com

[2020-10-20 23:44] vinigmoraes commented on #75
@jmfayard Can I work on this issue ?

[2020-10-21 06:46] ch8n commented on #7
Sure I won't mind if someone else wants to take over. I admit my defeat😅😂

[2020-10-21 07:25] jmfayard commented on #75
@vinigmoraes
Sure!
Look at the samples `ktor-client` and `retrofit` for inspiration

[2020-10-21 09:03] dector commented on #20
Sorry, no blockers. Just didn't want to publish unfinished implementation. Will update it and publish it in the next 24 hours.

[2020-10-21 10:30] #57 closed

[2020-10-22 12:06] dector commented on #20
Okay, polished current implementation and creating PR - I guess simple working example is better than detailed but non-existent. 😄

[2020-10-22 13:36] #20 closed

[2020-10-23 08:18] #35 closed

[2020-10-23 09:04] jmfayard opened #78 "Reformat code"
We have code contributed by many people, it needs reformating

[2020-10-23 09:13] #78 closed

[2020-10-23 09:17] jmfayard opened #81 "Sample wanted for kotest/kotest (assertions only)"
## About the library

- *Description*:    Powerful, elegant and flexible test framework for Kotlin
- *GitHub*: https://github.com/kotest/kotest/
- *Official website*: https://kotest.io/

## What the sample could do

For kotest, we have good examples of the different testing style from kotest ( `StringSpec`, `FreeSpec`, ...)
But we don't have good examples of matchers.

Show case the assertions fro

[2020-10-24 04:06] sijanr commented on #8
The build is successful, but I'm unable to add the following in the build.gradle.kts

wire {
  kotlin {
  }
}

I don't think I can generate the kotlin class of the proto file without adding the above code.

Since applying the plugin directly in the build.gradle.pluginManagement {
    repositories {
        gradlePluginPortal()
        mavenCentral()
    }
}kts wasn't working for me, I added plugin

[2020-10-24 05:38] jmfayard commented on #8
Can you push your code and open a pull request in its present state? I will try to fix it

[2020-10-24 07:06] LouisCAD commented on #8
@sijanr `pluginManagement` is meant for the `settings.gradle.ktd` file.

[2020-10-24 07:07] LouisCAD commented on #8
Also, please use triple backticks for code snippets.

[code]

[2020-10-26 09:25] #36 closed

[2020-10-26 20:14] JohanneA commented on #81
I can do this one if that's okay? 😄

[2020-10-26 23:16] LouisCAD commented on #81
Yes it is, you've been assigned! 😃

[2020-10-27 01:24] nkiesel opened #82 "Most dependencies listed twice in kotlin-jvm/build.gradle.kts"
I see e.g.
[code]

Is there a specific reason for that or should that just be clean up?

[2020-10-27 05:42] jmfayard commented on #82
No reason!

[2020-10-30 06:48] #81 closed

[2020-10-30 16:28] sijanr commented on #8
This is what I've been able to get so far. You'll probably see a bunch of errors in the gradle build file, but it all clears out if you remove
[code]

[2020-10-30 16:32] sijanr commented on #8
I also deleted the below code from the build.gradle.kts file because I just kept on receiving an error asking me remove it.
[code]

[2020-10-30 16:33] jmfayard commented on #8
ok, thanks!

[2020-10-31 10:40] jmfayard opened #85 "GitHub Actions: Surface the Gradle build-scan"
As described here
https://goobar.io/surfacing-gradle-build-scans-within-github-actions/#how-to-enable-build-scans-for-your-android-project

Also the unit tests are currently not run.

We shall run those which are not in the `testing.failing` package

[2020-11-03 11:02] jmfayard commented on #40
It's now available, I can work on it again!

[2020-11-03 21:07] #82 closed

[2020-11-10 08:54] #85 closed

[2020-11-10 08:58] #40 closed

[2020-11-22 14:28] jmfayard opened #90 "Sample wanted for jdbi"
## About the library

- *Description*:   Jdbi provides convenient, idiomatic access to relational data in Java.
- *Official website*: https://jdbi.org/#_introduction_to_jdbi
- For Kotlin: https://jdbi.org/#_kotlin

## What the sample could do

Same as the Exposed or SqlDelight samples, using a H2 in-memory database "jdbc:h2:mem:test"

## Wants to contribute the sample?

- Say so in a comment here

[2020-11-22 14:38] jmfayard opened #91 "Sample wanted for rsocket/rsocket-kotlin"
## About the library

- *Description*:   RSocket is a binary protocol for use on byte stream transports such as TCP, WebSockets, and Aeron.
- *GitHub*: https://github.com/rsocket/rsocket-kotlin
- *Official website*: https://rsocket.io/

## What the sample could do

See the examples from the README of https://github.com/rsocket/rsocket-kotlin

## Wants to contribute the sample?

- Say so in a comme

[2020-11-22 15:37] vvkpd commented on #90
I would like to work on this card, could you please assign to me?
Thanks!!!!!

[2020-11-22 17:18] jmfayard commented on #90
Done, thanks @vvkpd

[2020-11-22 17:19] jmfayard commented on #52
Gustavo, would you like to work on this issue? @lizarragadev

[2020-11-22 17:20] jmfayard commented on #41
Marcel, do you still want to contribute an RxJava sample? @mrclsu

[2020-11-22 17:23] jmfayard commented on #34
If it requires a Kotlin compiler plugin, not worth the complexity, I'm closing this issue

[2020-11-22 17:23] #34 closed

[2020-11-22 17:23] jmfayard commented on #75
@vinigmoraes do you still want to contribute a sample for fuel?

[2020-11-23 16:14] vinigmoraes commented on #75
@jmfayard Hey, I already opened the PR, but I don`t know why it's broken in github actions, could u help me ?

[2020-11-23 20:30] jmfayard commented on #75
It was my fault, don't worry about it

[2020-11-23 20:31] jmfayard commented on #75
Simply pull my changes

[2020-11-27 13:28] jmfayard commented on #24
I am giving a try, will start with a Spring Boot module

[2020-11-28 07:50] jmfayard commented on #24
@jaguililla @fultonbrown @NikkyAI
Here is my draft server implementation done with spring boot
https://github.com/LouisCAD/kotlin-libraries-playground/pull/93

If you have any feedback, you are welcome.

Everyone could then reimplement it with $FAVORITE_FRAMEWORK
like Spring-Fu Ktor Micronaut Quarkus Vertx Http4k Javalin

[2020-12-02 06:29] #75 closed

[2021-01-04 21:59] lucapiccinelli opened #95 "Sample wanted for Konad library"
## About the library

- *Description*:   Simple Kotlin monads for everyday error handling. Easy to use for OOP developers.
- *GitHub*:  https://github.com/lucapiccinelli/konad
- *Official website*:  https://github.com/lucapiccinelli/konad

## What the sample could do

 - Provide an example of how to compose independently computed `Result<T>`.
 - Provide an example of how to compose independently c

[2021-01-04 22:03] lucapiccinelli commented on #95
Konad is a new library for Kotlin. It is not yet known to the mass. Please tell me if you are interested in having an example in your playground. If you are not interested, feel free to close the issue.

I wrote an article [here](https://hackernoon.com/kotlin-nullables-how-to-compose-them-right-xm1634cu) about a use case.

Thank you

[2021-01-05 09:53] jmfayard commented on #95
Hello Luca, happy to have a sample for Konad

[2021-01-05 17:05] lucapiccinelli commented on #95
Dear Jean, I got this error running the _main.kt

`Test: User(id=1, name=Adam)
Test: {"id" : 1, "name" : "Adam"}
Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\Users\luca.piccinelli\AppData\Local\Kodein-DB\0.4.0-beta\libkodein-leveldb-jni.dll: Can't find dependent libraries
        at java.base/java.lang.ClassLoader$NativeLibrary.load0(Native Method)
        at java.base/java.lang.C

[2021-01-06 10:40] #95 closed

[2021-02-18 18:38] TobiasWaslowski commented on #91
I feel like I'm a bit late to the party, but I'd like to do this :)

[2021-04-12 18:57] lprakashv commented on #41
Let me know if this is still up for grabs. I would like to work on it.

[2021-04-12 18:58] lprakashv commented on #91
Is this still up for grabs?

[2021-04-12 18:59] lprakashv commented on #90
Hi, is this under progress or still up for grabs?

[2021-04-12 19:01] TobiasWaslowski commented on #91
Well, I don't have a definitive answer to this, I just know I haven't done it yet. Been meaning to, but I couldn't quite find the motivation. If you can, go for it!

[2021-04-13 09:20] jmfayard commented on #90
Feel free to take it up!

[2021-05-18 01:06] priyanka0906 commented on #60
@jmfayard  I would like to work on this. May I work on this.

[2021-05-18 06:55] LouisCAD commented on #60
@priyanka0906 You've been assigned! 🙂

[2021-05-18 07:03] priyanka0906 commented on #60
@LouisCAD Thankyou.

[2021-05-18 07:05] priyanka0906 commented on #60
@LouisCAD I have to wait for #50 to be complete first?

[2021-05-18 07:12] jmfayard commented on #60
@priyanka0906 unfortunately nobody is working on #50 currently, Louis and I are busy on other open-source projects.
If you feel you can kickstart an Android project inside this repo, that would be awesome.
Ideally the first screen would be a RecyclerView where each item would lead to a screen featuring one library in isolation.
So for a start, the RecyclerView would have one element: "contour"

[2021-05-18 07:15] priyanka0906 commented on #60
@jmfayard okay.

[2021-05-18 08:20] priyanka0906 commented on #60
@jmfayard @LouisCAD  Do I have to make a new package to start an android project or I have to to it in any existing package?
 Please provide guidance I am bit confused in the packages present in the project😅
And a demo should show only a constraint layout so any simple demo would serve the purpose , would you suggest like what kind of demo is required. The one which is shown  here  https://github.

[2021-05-18 08:48] jmfayard commented on #60
@priyanka0906 you can't use the existing module `kotlin-jvm`, it's JVM only!
You have to create a new Gradle module `kotlin-android` and configure there the Android Gradle Plugin, etc...
As for the package name, you can use `playground`

[2021-05-18 11:40] priyanka0906 commented on #60
Thank you @jmfayard 🙂

[2021-05-23 15:55] priyanka0906 commented on #60
@jmfayard I have tried this, please have a look and suggest changes if I doing right or not. I have created a separate repo for now .
https://github.com/priyanka0906/SampleContour

![Screenshot_1621784990](https://user-images.githubusercontent.com/56197993/119267690-53b68780-bc0d-11eb-99c4-be27a93e8739.png)

[2021-05-23 20:10] jmfayard commented on #60
Thanks a lot for your work @priyanka0906
The Contour code looks good.
What I would like to add is that the first screen should be a RecyclerView - or equivalent - with currently only one item "Contour", who would open your Contour screen.
This way, when someone else wants to make a demo of an Android library, she simply has to add an element in the list that would open her screen

[2021-05-24 16:33] priyanka0906 commented on #60
@jmfayard yes I will implement recycler View once I will add this code in this repo, I am first trying Contour in a separate app😅.
Thanks for reviewing :)

[2021-05-24 18:09] priyanka0906 commented on #60
@jmfayard I am struggling with adding `kotlin-android` module .would you please guide me how to add this or share some resources so that I can implement that , I have searched but did not find any satisfactory answer.
Thank you.

[2021-05-24 18:55] jmfayard commented on #60
Hello @priyanka0906
I have integrated Sample Contour in the project
It's in the `android` branch
I let you work from here
https://github.com/LouisCAD/kotlin-libraries-playground/compare/android?expand=1

[2021-05-24 19:01] priyanka0906 commented on #60
@jmfayard Thanks a lot 😀

[2021-05-24 19:57] #60 closed

[2021-05-25 18:50] priyanka0906 commented on #52
@jmfayard May I work on this.

[2021-05-25 18:59] jmfayard commented on #52
Yes!

[2021-05-25 19:01] priyanka0906 commented on #52
@jmfayard Thank you 😀

[2021-05-27 14:35] priyanka0906 commented on #52
@jmfayard there is no android option so that we can run the app.
where to add this sample? Can I make a separate repo for this aswell.

[2021-05-27 14:40] jmfayard commented on #52
I'm not sure what you mean by "no android option"

<img width="632" alt="kotlin-libraries-playground_–_versions_properties__kotlin-libraries-playground__and_Sample_wanted_for_coil-kt_coil_·_Issue__52_·_LouisCAD_kotlin-libraries-playground_and_Slack___feed___kotlinlang" src="https://user-images.githubusercontent.com/459464/119846067-194d3300-bf0a-11eb-8635-a0427f5c7b6d.png">

Please put the code in

[2021-05-27 15:06] priyanka0906 commented on #52
![Screenshot (82)](https://user-images.githubusercontent.com/56197993/119850333-13b41500-bf2b-11eb-96b6-70364b5e885a.png)
There is no option showing to run the app

[2021-05-27 15:46] LouisCAD commented on #52
Is there a MainActivity in the project? Has Gradle sync been done?

[2021-05-27 15:59] priyanka0906 commented on #52
@LouisCAD Gradle has not been synced😅, its working now.
Thank you😀

[2021-05-31 19:12] jmfayard opened #106 "Sample wanted for konform-kt/konform"
## About the library

- *Description*:    Portable validations for Kotlin
- *GitHub*: https://github.com/konform-kt/konform
- *Official website*: https://www.konform.io/

## What the sample could do

Start with the example from https://www.konform.io/

## Wants to contribute the sample?

- Say so in a comment here
- Follow instructions in [CONTRIBUTING.md](https://github.com/LouisCAD/kotlin-librar

[2021-06-04 19:04] #106 closed

[2021-06-05 00:42] LDuncAndroid commented on #50
Scoping this out at the moment.

[2021-06-05 02:53] LDuncAndroid commented on #50
This is a WIP example of how dynamic navigation could be achieved: https://github.com/LDuncAndroid/kotlin-libraries-playground/tree/LDuncAndroid/kotlin-android-spike

[2021-07-02 05:32] Bekz7 commented on #41
It's still available? I'll be happy to start playing with it.

[2021-07-02 06:23] jmfayard commented on #41
@Bekz7 yes it's available, go on!

[2021-07-19 08:32] #41 closed

[2021-09-01 15:17] LouisCAD opened #111 "Split the project and don't make it require all of the dependencies to run"

[2021-09-22 18:12] visheshjindal commented on #52
Hello @jmfayard

I would love to contribute to coil library sample.

[2021-10-02 12:25] thesohelshaikh commented on #52
Hello @jmfayard Can I take this?

Few questions:
- What kind of UI are you expecting? Just load an image or something else?
- Is it necessary to use compose as UI system? I noticed coil fragment is using View system.

[2021-10-04 06:22] Rishavgupta12345 commented on #52
this is my first contributin can you please guide me what to do here :)

[2021-10-05 13:08] xdendix commented on #91
how can i to contribute in this repo?

[2022-01-16 04:11] pree-T commented on #91
Is this issue still open? May I work on it? Can someone help me as I am new to open source contribution?

[2022-02-23 02:06] VadimKulikov commented on #90
I would like to work on it, if possible. Thanks!

[2022-02-23 07:49] #90 closed

[2022-10-02 17:45] amaan118921 commented on #52
hey if this is not fixed for too long, i would love to take it up, so please assign me this issue.

[2022-10-02 17:50] jmfayard commented on #52
@amaan118921 sure thing, done, thanks for your contribution!

[2022-10-03 17:43] xisvaldo commented on #91
Hello @jmfayard, @LouisCAD  ! Is this issue still open? If so, I would like to work on it. Can you tell me about your expectations? I was looking for some other samples, and they just cover one specific use case. Could I split it into server and client samples?

[2022-10-03 17:59] jmfayard commented on #91
@xisvaldo issue assigned to you!

Great question!
Can you find a way to write the client part first and without to start a server locally?
That would be easier than the server part, which can be discussed after
Merci!

[2022-10-15 11:04] ssindher11 commented on #7
Hi @jmfayard. I would like to work on this and contribute some samples

[2022-10-15 11:07] jmfayard commented on #7
you're welcome, go on!

arrow is huge and can be complex though
please try to do something simple that cover just a useful part of the
library

Le sam. 15 oct. 2022 à 13:04, Shrey Sindher ***@***.***> a
écrit :